@import "https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap";

$bg1 		: #260040;
$bg2 		: #350058;
$bg3 		: #4a1570;
$foreground : #D4D8E0;
$accent1 	: #f00172;
$accent2 	: #00ffb7;

::-webkit-scrollbar {
	width: 6px;
	height: 2px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: $bg2;
	border: 0;
	border-radius: 50px;
	:hover {
		background: $bg3;
	}
	:active {
		background: $accent2;
	}
}
::-webkit-scrollbar-track {
	background: $bg1;
	border: 0;
	border-radius: 50px;
	:hover {
		background: $bg2;
	}
	:active {
		background: $bg2;
	}
}
::-webkit-scrollbar-corner {
	background: transparent;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	color: $foreground;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 14px;
	user-select: none !important;
}
svg.feather {
	height: 16px;
	width: 16px;
	stroke: $foreground;
	cursor: pointer;
	transition: 120ms;
}
#window-container {
	display: flex;
	width: 100%;
	height: 100%;
	background: $bg1;
	#navbar {
		display: flex;
		flex-direction: column;
		width: 256px;
		height: 100%;
		background: $bg2;
		#navigation {
			flex: 1;
			hr{
				border: 1px solid $bg1;
			}
			>h3 {
				padding: 16px;
				margin: 0px;
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
				opacity: .5;
				font-weight: 700;
				cursor: default;
			}
			>a {
				display: flex;
				align-items: center;
				margin: 8px;
				padding: 8px;
				font-size: 14px;
				font-weight: 500;
				opacity: 1;
				border-radius: 8px;
				cursor: pointer;
				transition: 120ms;
				border: 2px rgba($accent1, 0.3) solid;
				svg{
					margin-right: 8px;
				}
				&:hover {
					border: 2px $accent1 solid;
					background: rgba($accent1, 0.1);
				}
				&:active {
					border: 2px $accent1 solid;
					background: rgba($accent1, 0.3) ;
				}
			}
			>a[selected] {
				background: rgba($accent1, 0.3);
				border: 2px $accent1 solid;
				font-weight: 700;
			}
			.logo-container {
				width: 100%;
				padding: 16px;
				padding-bottom: 2px;
				box-sizing: border-box;
				svg *{
					fill: $foreground;
				}
			}
		}
		#profile-banner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px;
			border-top: 1px solid $bg1;
			#profile-user {
				display: flex;
				align-items: center;
				>* {
					margin-right: 8px;
				}
				#profile-picture {
					height: 32px;
					border-radius: 50%;
				}
			}
			#profile-icons {
				display: flex;
				align-items: center;
				>svg.feather {
					margin-left: 8px;
					&:hover {
						stroke: $accent1;
					}
				}
			}
		}
	}
	#browser {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1;
		height: 100vh;
		#topbar {
			display: flex;
			padding-top: 8px;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 8px;
			border-bottom: 1px solid $bg2;
			>* {
				margin-right: 8px;
			}
			.topnav {
				height: 24px;
				svg {
					height: 24px;
					width: 24px;
				}
			}
			.topnav[deactivated] {
				svg {
					opacity: .5;
				}
			}
			#top-search {
				height: 24px;
				width: 320px;
				background: $bg2;
				display: flex;
				align-items: center;
				border-radius: 12px;
				svg {
					margin-left: 8px;
					margin-right: 8px;
					opacity: 0.5;
				}
				input {
					flex: 1;
					border: 0 none;
					background: transparent;
					color: $foreground;
					outline: 0;
					font-family: "Poppins";
					&::placeholder {
						opacity: 0.5;
						color: $foreground;
					}
				}
			}
			#top-volume-slider {
				display: flex;
				align-items: center;
				position: absolute;
				right: 20px;
				#volume-icon {
					display: flex;
					align-items: center;
					margin-right: 4px;
					.feather-volume {
						display: none;
					}
					.feather-volume-1 {
						display: none;
					}
					.feather-volume-x {
						display: none;
					}
				}
			}		
		}
		#content {
			display: flex;
			flex: 1;
			overflow: hidden;
			#audios {
				height: 100%;
				padding-left: 8px;
				padding-right: 8px;
				width: auto;
				display: flex;
				flex-direction: column;
				flex: 1;
				#top-area {
					padding-left: 8px;
					width: 100%;
					padding-right: 8px;
					padding-bottom: 8px;
					width: calc(100% - 16px);
					h1 {
						font-size: 36px;
						padding: 0;
						margin: 0;
						margin-bottom: 8px;
					}
					#search-bar {
						height: 24px;
						background: $bg2;
						display: flex;
						align-items: center;
						border-radius: 12px;
						svg {
							margin-left: 8px;
							margin-right: 8px;
							opacity: 0.5;
						}
						input {
							flex: 1;
							border: 0 none;
							background: transparent;
							color: $foreground;
							outline: 0;
							font-family: "Poppins";
							&::placeholder {
								opacity: 0.5;
								color: $foreground;
							}
						}
					}
				}
				#results {
					&::before {
						content: '';
						display: block;
						position: absolute;
						width: calc(100% - 512px - 32px);
						height: 16px;
						background: linear-gradient(#260040, transparent);
						z-index: 4;
					}
					flex: 1;
					overflow: auto;
					#results-contents {
						height: fit-content;
						width: 100%;
						.audio-result {
							width: calc(100% - 16px);
							height: 64px;
							margin-bottom: 16px;
							border-radius: 8px;
							&:hover {
								.bg-layer {
									opacity: 0.5;
								}
							}
							.fg-layer {
								position: relative;
								display: flex;
								justify-content: space-between;
								padding: 8px;
								width: 100%;
								align-items: center;
								z-index: 2;
								transition: 120ms;
								background: linear-gradient(90deg, rgba(38,0,64,1) 0%, 
																   rgba(38,0,64,0.5) 50%, 
																   rgba(38,0,64,0.5) 75%, 
																   rgba(38,0,64,1) 100%);
								.info {
									display: flex;
									align-items: center;
									.pp-area {
										aspect-ratio: 1;
										object-fit: cover;
										height: 48px;
										border-radius: 8px;
										&:hover {
											.pp-playbutton {
												display: flex;
											}
										}
										.profile_picture_sample {
											aspect-ratio: 1;
											object-fit: cover;
											height: 48px;
											border-radius: 8px;
										}
										.pp-playbutton {
											aspect-ratio: 1;
											object-fit: cover;
											height: 48px;
											border-radius: 8px;
											transform: translateY(-54px);
											align-items: center;
											justify-content: center;
											cursor: pointer;
											background-color: $accent1;
											display: none;
											&:has(svg[style*="display:block"]){
												background-color: var(--fg1);
											}
											&.playing{
												.feather-play{ display: none; }
												.feather-pause{ display: block; }
												background-color: var(--foreground);
												svg{ stroke: var(--fg1); }
												display: flex;
											}
											.feather-pause {
												display: none;
											}
										}
									}
									.pp-area.playing {
										.profile_picture_sample {
											display: none;
										}
										.pp-playbutton {
											display: flex;
										}
									}
									.sample-info-txt {
										margin-left: 8px;
										.sample-title {
											font-size: 14px;
										}
										.sample-author {
											font-size: 10px;
											font-weight: 700;
											opacity: .75;
										}
									}
								}
								.actions {
									>svg.feather {
										margin-left: 8px;
									}
									svg.feather {
										&:hover {
											stroke: $accent1;
										}
									}
								}
							}
							.bg-layer {
								position: relative;
								top: -64px;
								width: calc(100% + 16px);
								height: 64px;
								background-color: $accent1;
								z-index: 1;
								transition: 120ms;
								.bg-waveform {
									width: 100%;
									height: 100%;
									filter: invert(100%)
											invert(6%)
											sepia(77%)
											saturate(4116%)
											hue-rotate(273deg)
											brightness(85%)
											contrast(111%);
								}
							}
							.ctx-menu {
								display: none;
								position: absolute;
								top: 8px;
								right: 8px;
								height: 48px;
								background-color: $bg1;
								border: 2px $accent1 solid;
								border-radius: 8px;
								a {
									display: inline-flex;
									align-items: center;
									height: 100%;
									padding-left: 8px;
									padding-right: 8px;
									transition: 120ms;
									svg {
										margin-right: 8px;
									}
									&:hover {
										color: $accent1;
										cursor: pointer;
										svg {
											stroke: $accent1;
										}
									}
								}
							}
						}
						.audio-result.downloaded {
							.bg-layer {
								background-color: $accent2;
							}
						}
						#nothing-found {
							text-align: center;
							margin-top: 16px;
							margin-bottom: 16px;
							color: $bg3;
						}
					}
				}
			}
			#filter {
				width: 256px;
				height: 100%;
				padding-right: 16px;
				overflow: auto;
				h1 {
					font-size: 36px;
					padding: 0;
					margin: 0;
					margin-bottom: 8px;
				}
				hr {
					border-color: $bg2;
					border-style: solid;
					margin-bottom: 8px;
				}
				#tempo-container {
					background-color: $bg2;
					padding: 32px;
					border-radius: 8px;
				}
				#order-container {
					background-color: $bg2;
					padding: 32px;
					border-radius: 8px;
				}
				#date-container {
					background-color: $bg2;
					padding: 32px;
					border-radius: 8px;
				}
				#genre-container {
					background-color: $bg2;
					padding: 32px;
					border-radius: 8px;
				}
				.mode-toggle {
					width: fit-content;
					padding: 8px;
					border-radius: 8px;
					background-color: rgba($accent2, .1);
					transition: 120ms;
					cursor: pointer;
					margin: auto;
					margin-bottom: 8px;
					border: 2px solid rgba($accent2, .3);
					color: $foreground;
					&:hover {
						border: 2px $accent2 solid;
						background: rgba($accent2, 0.1);
					}
					&:active {
						border: 2px $accent2 solid;
						background: rgba($accent2, 0.3) ;
					}
					// >a[selected] {
					// 	background: rgba($accent1, 0.3);
					// 	border: 2px $accent1 solid;
					// 	font-weight: 700;
					// }
				}
				select {
					width: fit-content;
					padding: 8px;
					border-radius: 8px;
					background-color: $bg2;
					transition: 120ms;
					cursor: pointer;
					margin: auto;
					margin-bottom: 8px;
					border: 2px solid $bg3;
					color: $foreground;
					cursor: default;
					margin-bottom: 0;
				}
				#big-search-button {
					width: fit-content;
					padding: 8px;
					border-radius: 8px;
					background-color: $bg2;
					transition: 120ms;
					cursor: pointer;
					margin: auto;
					margin-bottom: 8px;
					border: 2px solid $bg3;
					color: $foreground;
					margin-top: 16px;
					margin-bottom: 16px;
					&:hover {
						background-color: $bg3;
						border: 2px solid $accent2;
						background-color: $accent2;
						color: $bg1;
					}
				}
				.keys-row {
					display: flex;
					flex-direction: row;
					width: calc(100% + 8px);
					justify-content: center;
					margin-left: -4px;
					.key {
						transition: 120ms;
						cursor: pointer;
						font-size: 12px;
						height: 28px;
						aspect-ratio: 1;
						text-align: center;
						vertical-align: middle;
						line-height: 28px;
						border-radius: 50%;
						background-color: $bg1;
						border: 2px $bg2 solid;
						margin: 2px;
						&:hover {
							background-color: rgba($accent2, .1);
							border: 2px $accent2 solid;
						}
						&:active {
							background-color: rgba($accent2, .3);
							border: 2px $accent2 solid;
						}
					}
					.key.selected {
						background-color: rgba($accent2, .3);
						border: 2px $accent2 solid;
					}
					.key-spacer {
						height: 28px;
						aspect-ratio: 1;
						margin: 4px;
						opacity: 0;
					}
				}
				#direction-toggle {
					svg {
						height: 21px;
						width: 21px;
						vertical-align: middle;
					}
				}
			}
		}		
	}	
}
.sliderContainer{
	display: flex;
	align-items: center;
	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 4px;
		background: linear-gradient(90deg, $accent2 50%, $accent2 50%);
		outline: none;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;
		border-radius: 12px;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: $bg2;
			border: 3px solid $accent2;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

.rs-container {
	* {
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	height: 45px;
	position: relative;
	margin-bottom: -16px;
	.rs-bg {
		background-color: $bg2;
		border: 1px solid $bg3;
		height: 4px;
		left: 0;
		position: absolute;
		top: 5px;
		width: 100%;
		border-radius: 3px;
	}
	.rs-selected {
		background-color: $bg2;
		border: 1px solid $bg3;
		height: 4px;
		left: 0;
		position: absolute;
		top: 5px;
		width: 100%;
		border-radius: 3px;
		background-color: $accent2;
		border: 1px solid $accent2;
		transition: all 0.2s linear;
		width: 0;
	}
	.rs-pointer {
		background-color: $bg2;
		border: 2px solid $accent2;
		border-radius: 8px;
		cursor: pointer;
		height: 16px;
		left: -4px;
		position: absolute;
		top: -2px;
		transition: all 0.2s linear;
		aspect-ratio: 1;
		&::after {
			left: auto;
			right: 12px;
		}
	}
	.rs-scale {
		left: 0;
		position: absolute;
		top: 5px;
		white-space: nowrap;
		span {
			float: left;
			position: relative;
			&::before {
				background-color: #ededed;
				content: "";
				height: 8px;
				left: 0;
				position: absolute;
				top: 10px;
				width: 1px;
			}
			&:last-child {
				margin-left: -1px;
				width: 0px;
			}
			ins {
				color: $foreground;
				display: inline-block;
				font-size: 12px;
				margin-top: 20px;
				text-decoration: none;
			}
		}
	}
	&.disabled {
		.rs-selected {
			background-color: $bg2;
			border-color: $bg3;
		}
		.rs-pointer {
			cursor: default;
		}
		.rs-scale {
			span {
				ins {
					color: #999;
				}
			}
		}
		.rs-tooltip {
			border-color: #ccc;
			color: #999;
		}
	}
}
.rs-container.sliding {
	.rs-selected {
		transition: none;
	}
	.rs-pointer {
		transition: none;
	}
}
.rs-container.rs-noscale {
	span {
		&::before {
			display: none;
		}
		&:first-child {
			&::before {
				display: block;
			}
		}
		&:last-child {
			&::before {
				display: block;
			}
		}
	}
}
.rs-tooltip {
	color: $accent2;
	width: auto;
	min-width: 30px;
	height: 30px;
	position: relative;
	background: $bg1;
	border: 1px solid $bg3;
	border-radius: 3px;
	position: absolute;
	transform: translate(-50%, -35px);
	left: 6px;
	text-align: center;
	font-size: 13px;
	padding: 6px 10px 0;
}

@media only screen and (max-width: 900px) {
	#navbar{
		width: 70px !important;
		#profile-banner{
			display: none !important;
		}
		#navigation > *:not(a){
			display: none;
		}
		span{
			display: none;
		}
		svg{
			margin: 0 !important;
		}
		#navigation > a{
			justify-content: center;
			margin-right: 0 !important;
			height: 32px;
			width: 32px;
		}
	}

}

@media only screen and (max-width: 700px) {
	#filter{ display: none; }
	#top-volume-slider .sliderContainer{ display: none !important; }
}
@media only screen and (max-width: 550px){
	#navbar{ 
		display: none !important;
	}
}