.play-bar{
    @include glass(false, false);
    background: var(--glass-100);
    padding: 0 var(--side-padding);
    gap: var(--side-padding);
    height: 90px;
    align-items: center;
    display: flex;
    border-top: 1px solid var(--seperator);
    &.hidden{
        display: none;
    }
    > * {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        box-sizing: border-box;
    }
    svg {
        width: calc(var(--item-scale) * 1.2) !important;
    }  
}
.info-audio{
    @include side-gradient(to right, var(--window-background));
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    gap: var(--item-gap);
}
.profile-picture{
    width: var(--profile-pic-large-size);
    image-rendering: crisp-edges;
    border-radius: var(--radius);
}
.audio-desc{
    div{
        width: max-content;
    }
    overflow: hidden;
    width: 10px;
    flex-grow: 1;
}
.player-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--item-gap) / 1.2);
}
.player-buttons{
    display: flex;
    gap: calc(var(--item-gap) * 2);
    align-items: center;
}
.side-playbar-controls{
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--item-gap) * 1.5);
}
#volumeSlider{
    width: 120px !important;
}
#playbackSlider{
    align-self: stretch;
}