.results{
    padding-top: calc(var(--side-padding) / 2);
    width: 100vw;
    height: fit-content;
}
#loading-section{
    padding-top: var(--item-gap);
    padding-bottom: calc(90px + var(--item-gap));
    margin: auto;
}
.result{
    width: calc(100% - var(--side-padding) * 2);
    display: grid;
    grid-template-columns: var(--profile-pic-large-size) 1fr 1fr 5ch 8ch 7ch auto;
    margin: auto;
    padding: calc(var(--item-gap) / 1.5);
    gap: var(--item-gap);
    align-items: center;
    border-radius: var(--radius);
    .info-audio{
        @include side-gradient(to right, var(--window-background));
        flex-grow: 2;

        .desc-title{
            font-weight: 700;
        }

        .desc-author{
            cursor: pointer;
        }
    }
    &:hover, &.playing{
        background: var(--background-300);
        .info-audio{
            @include side-gradient(to right, var(--background-300));
        }
        .play-btn{
            opacity: .8;
            background: var(--background-300);
        }
        .actions-result svg{
            stroke: var(--foreground-100);
        }
        .desc-author{
            &:hover{
                color: var(--foreground-100);
                transition-duration: var(--animation-duration);
                transition-timing-function: var(--animation-timing);
                text-decoration-thickness: 2px;
                text-decoration: underline solid;
            }
        }
        .mono-value{
            color: var(--foreground-100);
            transition-duration: var(--animation-duration);
            transition-timing-function: var(--animation-timing);
        }
    }
    &.playing{
        background: var(--accent-1-300);
        &:hover{
            background: var(--accent-1-200);
        }
    }
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);

    .mono-value{
        color: var(--foreground-200);
    }
    .audio-desc{
        margin-left: 0;
    }
    .actions-result{
        width: calc(125px - var(--item-gap));
        display: flex;
        justify-content: space-between;
        svg{
            stroke: var(--foreground-300);
        }
    }
}
.result-profile-pic{
    display: flex;
    flex-direction: row;
}
.profile-picture-large{
    border-radius: var(--radius);
    aspect-ratio: 1;
    width: var(--profile-pic-large-size);
}
.visualizer{
    height: var(--profile-pic-large-size);
    width: 100%;
    background: #000;
    filter: invert(1);
    mix-blend-mode: lighten;
    opacity: .5;
}
.icon-spacer{
    width: var(--item-scale);
}
.like{
    &.liked svg{
        fill: var(--accent-1-100);
        stroke: var(--accent-1-100);
        &:hover{
            fill: var(--accent-300);
            stroke: var(--accent-1-100);
        }
        &:active{
            fill: var(--accent-200);
            stroke: var(--accent-1-100);
        }
    }
}
.play-btn{
    width: var(--profile-pic-large-size);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(var(--profile-pic-large-size) * -1);
    opacity: 0;
    background: var(--background-300);
    svg{
        stroke: var(--foreground-100);
    }
    border-radius: var(--radius);
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
}