.settings-window, .profile-page{
    transition-property: transform;
    transition-duration: var(--animation-duration-alt);
    transition-timing-function: var(--animation-timing);
    @include glass(false, true);
    background: var(--glass-200);
    background: transparent;

    width: calc(100vw - (2 * var(--side-padding)));
    margin-left: calc(-0.5 * (100vw - (2 * var(--side-padding))));

    height: calc(100vh - (2 * var(--side-padding)) - var(--item-gap) * 2);
    margin-top: calc(-0.5 * (100vh - (2 * var(--side-padding)) - var(--item-gap) * 2));

    max-width: 1200px;
    max-height: 900px;
    left: 50vw;
    top: calc(50vh + 52px / 2);
    position: fixed;
    z-index: 6;
    display: flex;
    > *{
        box-shadow: 0px 0px 0px 0px transparent !important;
    }
    .sidebar{
        @include glass(false, true);
        background: var(--glass-200);
        background: var(--glass-200);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: none;
        padding-top: var(--side-padding);
        a, h2{
            display: block;
            padding-bottom: var(--item-gap);
            padding-left: var(--side-padding);
            padding-right: var(--side-padding);
        }
        a{
            display: flex;
            align-items: center;
            gap: var(--item-gap);
            cursor: pointer;
            transition-duration: var(--animation-duration);
            transition-timing-function: var(--animation-timing);
            color: var(--foreground-200);
            &:hover{
                color: var(--foreground-100);
            }
        }
        .last{
            position: absolute;
            bottom: 0;
        }
    }
    .content{
        @include glass(true, true);
        background: var(--soft-glass-200);
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 1px solid var(--seperator);
        flex: 1 1;
        padding-top: var(--side-padding);
        overflow: auto;
        .inner-content{
            min-height: calc(100% - (var(--item-scale) + var(--item-gap) + var(--side-padding) * 2));
            .input-component{
                width: 100%;
                min-height: calc(var(--item-scale) + var(--item-gap));
            }
            h1{
                margin-bottom: var(--item-gap);
            }
            .section{
                border-top: 1px solid var(--seperator);
                > * {
                    margin-bottom: var(--item-gap);
                    margin-top: var(--item-gap);
                }
                > *:not(h2,h3){
                    padding-left: var(--side-padding);
                    box-sizing: border-box;
                }
                > p{
                    margin-top: var(--item-gap);
                    margin-bottom: var(--item-gap);
                    color: var(--foreground-300);
                    max-width: 700px;
                }
                h2{
                    color: var(--foreground-100);
                    margin-top: calc(var(--item-gap) * 2);
                    display: flex;
                    gap: var(--item-gap);
                    align-items: center;
                }
                h3{
                    text-transform: uppercase;
                    color: var(--foreground-200);
                    font-size: var(--font-size);
                    margin-top: calc(var(--item-gap) * 2);
                }
                .ico-heading{
                    background: var(--accent-1-100);
                    aspect-ratio: 1;
                    height: calc(var(--item-gap) * 2);
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    justify-content: center;
                    svg{
                        stroke-width: 4px;
                    }
                }
            }
        }
    }
    .action-pair{
        display: flex;
        flex-direction: column wrap;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: var(--side-padding);
        .unsaved-warn{
            flex-grow: 1;
        }
    }
}
.close-x{
    color: var(--foreground-200);
    position: fixed;
    right: var(--item-gap);
    top: var(--item-gap);
    cursor: pointer;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    :hover{
        color: var(--foreground-100);
    }
}
#sidebar-x{
    display: none;
}
#version-string{
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    color: var(--foreground-300);
    margin-top: 0;
    font-size: calc(var(--font-size) * .85);
}