.settings-window{
    transition-duration: $animation-duration-alt;
    transition-timing-function: $animation-timing;
    @include glass(false, true);
    background: var(--glass-200);
    background: transparent;
    width: calc(100vw - (2 * $side-padding));
    height: calc(100vh - (2 * $side-padding));
    max-width: 1000px;
    max-height: 800px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 6;
    display: flex;
    > *{
        box-shadow: 0px 0px 0px 0px transparent !important;
    }
    .sidebar{
        @include glass(false, true);
        background: var(--glass-200);
        background: var(--glass-200);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: none;
        padding-top: $side-padding;
        a, h2{
            display: block;
            padding-bottom: $item-gap;
            padding-left: $side-padding;
            padding-right: $side-padding;
        }
        a{
            display: flex;
            align-items: center;
            gap: $item-gap;
            cursor: pointer;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing;
            color: var(--foreground-200);
            &:hover{
                color: var(--foreground-100);
            }
        }
        .last{
            position: absolute;
            bottom: 0;
        }
    }
    .content{
        @include glass(true, true);
        background: var(--soft-glass-200);
        padding-left: $side-padding;
        padding-right: $side-padding;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 1px solid var(--seperator);
        flex: 1 1;
        padding-top: $side-padding;
        overflow: auto;
        .inner-content{
            min-height: calc(100% - ($item-scale + $item-gap + $side-padding * 2));
            > * {
                margin-bottom: $item-gap;
                margin-top: $item-gap;
            }
            .input-component{
                margin-left: $side-padding;
                width: calc(100% - $side-padding);
            }
        }
    }
    .action-pair{
        display: flex;
        flex-direction: column wrap;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: $side-padding;
        .unsaved-warn{
            flex-grow: 1;
        }
    }
}
.close-x{
    color: var(--foreground-200);
    position: fixed;
    right: $item-gap;
    top: $item-gap;
    cursor: pointer;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing;
    :hover{
        color: var(--foreground-100);
    }
}
#sidebar-x{
    display: none;
}
#version-string{
    padding-left: $side-padding;
    padding-right: $side-padding;
    color: var(--foreground-300);
    margin-top: 0;
    font-size: $font-size * .85;
}