.title-bar{
    @include glass(false, false);
    background: var(--glass-100);
    -webkit-app-region: drag;
    justify-content: space-between;
    color: var(--foreground-100);
    padding: 0 $side-padding;
    height: 52px;
    display: flex;
    align-items: center;
    gap: $item-gap;
    border-bottom: 1px solid var(--seperator);
    >*{
        -webkit-app-region: no-drag;
    }
}
.window-btns {
    display: flex;
    gap: 8px;
    div{
        width: 12px;
        height: 12px;
        background: transparent;
        border-radius: 6px;
    }
}
.actions{
    display: flex;
    gap: $item-gap;
    .vue-feather, .vue-feather > svg {
        stroke: var(--foreground-200);
        cursor: pointer;
        width: 18px !important;
        aspect-ratio: 1;
    }
}