.top-area{
    padding: var(--side-padding);
    padding-bottom: var(--item-gap);
    border-bottom: 1px solid var(--seperator);
    width: calc(100% + 1px);    // TODO: Find a better alternative to this questionable hack
    box-sizing: border-box;
    h1{
        margin: auto;
    }
}
.LibraryName{
    margin: auto;
    color: var(--foreground-200);
}
.results-header{
    display: grid;
    grid-template-columns: var(--profile-pic-large-size) 2fr 8ch 7ch 109px;
    gap: var(--item-gap);
    color: var(--foreground-200);
    margin: auto;
    margin-top: var(--item-gap);
}
.hidden{
    transform: translateY(calc(var(--item-scale) + var(--item-gap) + 100px));
    display: none;
}
.key-row{
    display: flex;
    justify-content: center;
    > div{
        cursor: pointer;
        height: var(--item-scale);
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        padding: calc(var(--item-gap) / 4);
        background: var(--background-300);
        border-radius: 50%;
        margin: calc(var(--item-gap) / 8);
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--animation-timing);
        font-size: calc(var(--font-size) * .85);
        &:hover{
            background: var(--background-400);
        }
        &:active{
            background: var(--background-300);
        }
        &.selected{
            color: var(--inverse-foreground);
            background: var(--accent-2-100);
        }
        &.key-seperator{
            background: transparent !important;
            cursor: default;
        }
    }
}
#bottomSearch{
    width: 100%;
    background: var(--background-100);
    display: none;
    margin: var(--item-gap) 0;
}