.top-area{
    padding: $side-padding;
    padding-bottom: $item-gap;
    border-bottom: 1px solid $background-300;
    width: calc(100% + 1px);    // TODO: Find a better alternative to this questionable hack
    box-sizing: border-box;
    h1{
        margin: auto;
    }
}
.LibraryName{
    margin: auto;
    color: $foreground-200;
}
.results-header{
    display: flex;
    gap: $item-gap;
    color: $foreground-200;
    margin: auto;
    margin-top: $item-gap;
}
.hidden{
    transform: translateY($item-scale + $item-gap + 100px);
    display: none;
}
.select{
    .option{
        cursor: pointer;
        background-color: $background-300;
        padding: $item-gap / 2;
        border: 1px solid $background-300;
        border-bottom: 1px solid $background-200;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing-alt;
        color: $foreground-200;
        &:hover:not(.selected){
            background-color: $background-400;
            border-radius: $radius;
            transform: scale(1.1);
            border: 1px solid $background-200;
            color: $foreground-100;
        }
        &:active:not(.selected){
            background-color: $background-300;
            border-radius: $radius;
            transform: scale(1.05);
            border: 1px solid $background-200;
            color: $foreground-100;
        }
        &:first-child{
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }
        &:last-child{
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }
        &.selected{
            background-color: $accent-2;
            color: $inverse-foreground;
        }
    }
}
.key-row{
    display: flex;
    justify-content: center;
    > div{
        cursor: pointer;
        height: $item-scale;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        padding: $item-gap / 4;
        background-color: $background-300;
        border-radius: 50%;
        margin: $item-gap / 8;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing;
        font-size: $font-size * .85;
        &:hover{
            background: $background-400;
        }
        &:active{
            background: $background-300;
        }
        &.selected{
            color: $inverse-foreground;
            background: $accent-2;
        }
        &.key-seperator{
            background-color: transparent !important;
            cursor: default;
        }
    }
}
#bottomSearch{
    width: 100%;
    background-color: $background-100;
    display: none;
    margin: $item-gap 0;
}