.button{
    background: var(--accent-1-100);
    color: var(--foreground-100);
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    border-radius: var(--radius);
    height: var(--item-scale);
    padding: var(--item-gap);
    padding-top: calc(var(--item-gap) / 2);
    padding-bottom: calc(var(--item-gap) / 2);
    width: fit-content;
    cursor: pointer;
    font-weight: 900;
    &:hover{
        background: var(--accent-1-200);
    }
    &:active{
        background: var(--accent-1-300);
    }
    &.secondary{
        background: var(--foreground-100);
        &:hover{ background: var(--foreground-200); }
        &:active{ background: var(--foreground-300); }
        color: var(--inverse-foreground);
    }
    &.tertiary{
        background: var(--background-300);
        &:hover{ background: var(--background-400); }
        &:active{ background: var(--background-300); }
    }
}
.button-duo{
    display: flex;
    justify-content: space-between;
}