.fileselector{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $item-gap;
    flex-flow: row wrap;
    .fs-title{
        color: var(--foreground-200);
    }
    .fs-pathname{
        color: var(--foreground-300);
    }
    .path{
        flex-grow: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        color: var(--foreground-300);
    }
    input[type="file"]{
        display: none;
    }
}