::-webkit-input-placeholder{
    color: var(--foreground-200);
}

.SearchBar{
    flex-shrink: 1;
    flex-grow: 0;
    width: 437px;
    .inner svg{
        stroke: var(--foreground-200);
        height: calc(var(--font-size) * .9);
        stroke-width: 3.5;
    }
    background: var(--background-200);
    border-radius: var(--radius);
    height: 26px;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    cursor: text;
    border: 1px rgba(255,255,255,.1) solid;
    border-radius: var(--radius);
    box-shadow: inset 0px -3px 1px -2px rgba(255,255,255,.2);
}
.inner{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: var(--item-gap);
    height: 100%;
    width: 100%;
    max-width: 100%;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
}
.input{
    background: transparent;
    border: 0px;
    outline: 0px;
    outline: none;
    display: inline-block;
    white-space: nowrap;
    color: var(--foreground-200);
    overflow: visible;
    width: 100%;
    height: 100%;
}