.switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.big{
        .switch-inner{
            width: calc(var(--radius) * 3);
            border-radius: calc(var(--radius) * 1.5);
            &.active{
                margin-left: calc(var(--radius) * 3);
            }
        }
        .switch-outer{
            width: calc(var(--radius) * 6);
            height: calc(var(--radius) * 3);
            border-radius: calc(var(--radius) * 1.5);
        }
        :active{
            .switch-inner{
                margin-left: var(--radius);
                &.active{
                    margin-left: calc(var(--radius) * 2);
                }
            }
            .switch-outer{
                background: var(--background-200);
            }
        }
    }
    
}
.switch-inner{
    width: calc(var(--radius) * 2);
    aspect-ratio: 1;
    border-radius: var(--radius);
    background: var(--foreground-100);
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-alt);
    &.active{
        margin-left: calc(var(--radius) * 2);
    }
}
.switch-outer{
    flex-shrink: 0;
    width: calc(var(--radius) * 4);
    height: calc(var(--radius) * 2);
    border-radius: var(--radius);
    background: var(--background-100);
    cursor: pointer;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    &.active{
        background: var(--accent-2-100);
    }
}
.switch-label{
    color: var(--foreground-200);
    width: calc(100% - var(--radius) * 4);
    flex-shrink: 1;
}