.switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.big{
        .switch-inner{
            width: $radius * 3;
            border-radius: $radius * 1.5;
            &.active{
                margin-left: $radius * 3;
            }
        }
        .switch-outer{
            width: $radius * 6;
            height: $radius * 3;
            border-radius: $radius * 1.5;
        }
        :active{
            .switch-inner{
                margin-left: $radius;
                &.active{
                    margin-left: $radius * 2;
                }
            }
            .switch-outer{
                background: var(--background-200);
            }
        }
    }
    
}
.switch-inner{
    width: $radius * 2;
    aspect-ratio: 1;
    border-radius: $radius;
    background: var(--foreground-100);
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-alt;
    &.active{
        margin-left: $radius * 2;
    }
}
.switch-outer{
    flex-shrink: 0;
    width: $radius * 4;
    height: $radius * 2;
    border-radius: $radius;
    background: var(--background-100);
    cursor: pointer;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing;
    &.active{
        background: var(--accent-2-100);
    }
}
.switch-label{
    color: var(--foreground-200);
    width: calc(100% - ($radius * 4));
    flex-shrink: 1;
}