@import '../../styles/globals.scss';

.tag-popup-enter-active,
.tag-popup-leave-active,
.tag-popup-l-enter-active,
.tag-popup-l-leave-active {
    transition: all var(--animation-duration-alt) var(--animation-timing-alt);
}

.tag-popup-enter-from, .tag-popup-leave-to{
    transform: translateY(calc(var(--item-scale) * 2 + var(--item-gap))) !important;
    opacity: 0;
    box-shadow: 0px 0px 0px 0px #000 !important;
}

.tag-popup-enter-to, .tag-popup-leave-from{
    transform: translateY(calc(var(--item-scale) + var(--item-gap))) !important;
    opacity: 1;
}

.tag-popup-l-enter-from, .tag-popup-l-leave-to{
    transform: translate(calc(var(--side-padding) * -1), calc(var(--item-scale) * 2 + var(--item-gap))) !important;
    opacity: 0;
    box-shadow: 0px 0px 0px 0px #000 !important;
}

.tag-popup-l-enter-to, .tag-popup-l-leave-from{
    transform: translate(calc(-1 * var(--side-padding)),calc(var(--item-scale) + var(--item-gap))) !important;
    opacity: 1;
}
.tags-container{
    margin: auto;
    margin-top: var(--item-gap);
    .tag-duo{
        flex-shrink: 0;
    }
}
.tags-container, .tags-left{
    display: flex;
    flex-grow: 1;
    gap: var(--item-gap);
    flex-wrap: wrap;
}
.tags-left{
    overflow: auto;
}
.tag, .tag-duo > *{
    float: left;
    display: flex;
    gap: 8px;
    height: var(--item-scale);
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: var(--radius);
    font-weight: 900;
    cursor: pointer;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    background: var(--background-300);
    &:hover{ background: var(--background-400); }
    &:active{ background: var(--background-300); }
    &.active{
        background: var(--accent-1-100);
        &:hover{ background: var(--accent-1-200); }
        &:active{ background: var(--accent-1-300); }
        color: var(--foreground-100);
    }
    color: var(--foreground-200);
}
.tag-duo{
    display: flex;
    div{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    i {
        margin-left: -2px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.tag-popout{
    @include glass(false, true);
    background: var(--glass-200);
    min-width: 200px;
    max-height: 50vh;
    overflow: auto;
    height: fit-content;
    position: absolute;
    transform: translateY(calc(var(--item-scale) + var(--item-gap)));
    padding: var(--side-padding);
    z-index: 2;
    > *{
        margin-bottom: calc(var(--item-gap) / 2);
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.align-left{
        transform: translate(calc(var(--side-padding) * -1), calc(var(--item-scale) + var(--item-gap)));
        right: 0;
    }
}