.theme-light{
    // Basic colors: All others are derivatives of these

    $background: #ffffff;
    $foreground: #000;

    --inverse-foreground: #fff;

    --seperator: #000;

    $accent-1: #f18bd5;
    $accent-2: #3cb987;
    $accent-3: #c8ce2f;
    $accent-4: #641cb6;

    // Generated colors

    --accent-1-100: #{$accent-1};
    --accent-1-200: #{lighten($accent-1, 5%)};
    --accent-1-300: #{lighten($accent-1, 10%)};

    --accent-2-100: #{$accent-2};
    --accent-2-200: #{lighten($accent-1, 5%)};
    --accent-2-300: #{lighten($accent-1, 10%)};

    --accent-3-100: #{$accent-3};
    --accent-3-200: #{lighten($accent-1, 5%)};
    --accent-3-300: #{lighten($accent-1, 10%)};

    --accent-4-100: #{$accent-4};
    --accent-4-200: #{lighten($accent-1, 5%)};
    --accent-4-300: #{lighten($accent-1, 10%)}; 

    --background-100: #{darken($background, 9%)};
    --background-200: #{darken($background, 6%)};
    --background-300: #{darken($background, 3%)};
    --background-400: #{$background};

    --foreground-100: #{$foreground};
    --foreground-200: #{lighten($foreground, 25%)};
    --foreground-300: #{lighten($foreground, 50%)};

    --glass-100: #{rgba($background, .7)};
    --glass-200: #{rgba(darken($background, 6%), .7)};

    --soft-glass-100: #{rgba($background, .85)};
    --soft-glass-200: #{rgba(darken($background, 6%), .85)};

    // Scroll bars

    --scroll-thumb-color: #{rgba($foreground, 25%)};
    --scroll-thumb-color-hover: #{rgba($foreground, 50%)};

    .visualizer{
        filter: none !important;
        mix-blend-mode: darken !important;
    }
}