// Basic colors: All others are derivatives of these

$background-100: #26002B;
$background-200: #330039;
$background-300: #46174B;

$foreground-100: #EDE6EE;
$foreground-200: #BCA0C0;
$inverse-foreground: #000;

$accent-1: #CF3DA6;
$accent-2: #00FF99;
$accent-3: #F5FE00;
$accent-4: #7713E9;

// Window colors

$window-background: $background-200;
$window-hover: $background-300;

$seperator: #000;

$titlebar-background: $background-100;
$playbar-background: $background-100;

// Sizing

$max-content-width: 1100px;
$radius: 8.5px;
$item-gap: 16px;
$side-padding: 21px;
$gradient-s: 32px;
$item-scale: 18px;

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

h1{font-size: 48px;}

// Text

*{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    user-select: none;
}

.desc-title{
    font-weight: 700;
}

.desc-artist{
    color: $foreground-200;
}

.mono-value{
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    text-transform: full-width;
    font-variant-numeric: tabular-nums;
    text-align: right;
    letter-spacing: 1px;
    white-space: pre;
    &.secondary{
        font-weight: 500;
        color: $foreground-200;
    }
    white-space: pre;
}

// Animations

$animation-duration: 150ms;
$animation-timing: ease-in-out;

// Icons

.icon-btn{
    stroke: $foreground-100;
    cursor: pointer;
    svg{
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing;
    }
    &:hover svg{
        stroke: $foreground-200;
    }
    &:active svg{
        stroke: $foreground-100;
    }
}

// Mixins

@mixin side-gradient($direction, $color, $size: $gradient-s){
    &::after{
        width: $size;
        height: 100%;
        background: linear-gradient($direction, transparent, $color);
        position: relative;
        @if $direction == to right{
            right: $size;
            top: 0;
            margin-right: - $size;
        }
        content: "";
    }
}

@mixin glass-box($soft){
    background-color: rgba($background-200, .65);
    backdrop-filter: blur(12px);
    border: 1px rgba(255,255,255,.2) solid;
    border-radius: $radius;
    box-shadow: 0px 0px 0px 1px #000,
                0px 5px 7px -1px rgba(0,0,0,0.3),
                0px 8px 29px 6px rgba(0,0,0,0.5),
          inset 0px 4px 0px -3px rgba(255,255,255,.4);

    @if $soft{
        background-color: rgba($background-200, .85);
        backdrop-filter: blur(24px);
    }
}

// Sliders

.slider-target{
    --slider-height: 2px;
}

.slider-connect{
    background: $accent-2;
}

.slider-base{
    background: $background-200;
}

.slider-tooltip{
    background: $accent-2;
    &:before{
        border-color: $accent-2;
    }
}

$scrollbar-w: 16px;

::-webkit-scrollbar {
    width: $scrollbar-w;
}

::-webkit-scrollbar-thumb {
    background: rgba($foreground-100, .2);
    border: 4px transparent solid;
    border-radius: $scrollbar-w - (4px * 2);
    background-clip: padding-box;
    &:hover{
        background: rgba($foreground-100, 0.5);
        border: 4px transparent solid;
    }
}