$titlebar-background: var(--background-100);
$playbar-background: var(--background-100);

// Elements

.vue-feather > svg{
    width: var(--item-scale);
}

.hitbox-ico{
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
    padding: calc(var(--item-gap) / 2);
    margin: calc(-1 * var(--item-gap) / 2);
    border-radius: 50%;
    &:hover{
        background-color: var(--accent-1-300);
        > svg {
            stroke: var(--foreground-100) !important;
        }
    }
}

.hitbox-ico.active {
    &:hover {
        background-color: var(--accent-1-300);
        > svg {
            stroke: var(--foreground-100);
        }
    }
    > svg {
        stroke: var(--background-100);
    }
    border-radius: 50%;
    background-color: var(--accent-1-100);
    padding: calc(var(--item-gap) / 2);
    margin: calc(-1 * var(--item-gap) / 2);
}

h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: calc(var(--heading-scale) * var(--heading-scale) * var(--heading-scale) * var(--heading-scale) * var(--heading-scale) * var(--scale) * var(--font-size));
}

// Text

*{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    user-select: none;
}

.subtext{
    color: var(--foreground-200);
    font-size: calc(var(--font-size) * .85);
}

.mono-value{
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    text-transform: full-width;
    font-variant-numeric: tabular-nums;
    text-align: right;
    letter-spacing: 1px;
    white-space: pre;
    font-size: calc(var(--font-size) * .85);
    &.secondary{
        font-weight: 500;
    }
    white-space: pre;
    user-select: text;
}

// Animations
:root{
    --animation-duration: 160ms;
    --animation-duration-alt: 380ms;
    --animation-timing: cubic-bezier(.4,0,.4,1);
    --animation-timing-alt: cubic-bezier(.45,.73,.26,1.54); // For "jiggly" animations (on geometric transforms, not on colors)
}

// Icons

.icon-btn{
    stroke: var(--foreground-100);
    cursor: pointer;
    svg{
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--animation-timing);
    }
    &:hover svg{
        stroke: var(--foreground-200);
    }
    &:active svg{
        stroke: var(--foreground-100);
    }
}

// Mixins

@mixin side-gradient($direction, $color){
    -webkit-mask-image: linear-gradient($direction, #000 80%, transparent);
}

@mixin glass($soft, $box){
    backdrop-filter: saturate(150%) contrast(120%) brightness(60%) blur(16px);
    @if $box {
        border: 1px rgba(255,255,255,.2) solid;
        border-radius: var(--radius);
        box-shadow: 0px 0px 0px 1px #000,
                    0px 5px 7px -1px rgba(0,0,0,0.3),
                    0px 8px 29px 6px rgba(0,0,0,0.5),
              inset 0px 4px 0px -3px rgba(255,255,255,.4);
    }

    @if $soft{
        backdrop-filter: saturate(150%) contrast(120%) brightness(70%) blur(24px);
    }
}

// Sliders

.slider-target{
    --slider-height: 2px;
}

.slider-connect{
    background: var(--accent-2-100);
}

.slider-base{
    background: var(--background-200);
}

.slider-tooltip{
    background: var(--accent-2-100);
    &:before{
        border-color: var(--accent-2-100);
    }
}

.vue-slider-dot-tooltip-text{
    color: var(--inverse-foreground);
}

// Surfaces

.popup-window{
    @include glass(false, true);
    background: var(--glass-200);
    width: calc(100vw - (2 * var(--side-padding)));
    height: calc(100vh - (2 * var(--side-padding)));
    position: fixed;        
}

.il-block{
    display: inline-block;
    margin-right: var(--item-gap);
    &.centered{
        display: inline-block;
        vertical-align: middle;
    }
}
.il-container{
    display: flex;
    gap: var(--item-gap);
    &.centered{
        align-items: center;
    }
}
.rotated180{
    transform: rotate(180deg);
}