.sizing-compact{
    --scale: 1;
    --font_scale: 1;
    --heading-scale: 1.2;
    
    --max-content-width: 1100px;
    --radius: 8.5px;
    --item-gap: calc(13px * var(--scale));
    --side-padding: calc(var(--item-gap) * 1.5);
    --gradient-s: calc(32px * var(--scale));
    --item-scale: calc(16px * var(--scale));
    --font-size: calc(15px * var(--font_scale));
    
    --profile-pic-large-size: calc(var(--item-scale) * 2 * var(--scale));

    .play-bar{
        height: 64px !important;
    }
    
    .result{
        grid-template-columns: --profile-pic-large-size 1fr .5fr 5ch 8ch 7ch auto !important;
    }
    .result .info-audio .desc-title, .tag, .tag-duo > *{
        font-weight: 600;
    }
}