// Basic colors: All others are derivatives of these

$background-100: #26002B;
$background-200: #330039;
$background-300: #46174B;

$foreground-100: #EDE6EE;
$foreground-200: #BCA0C0;

$accent-1: #EE00AC;
$accent-2: #00E991;
$accent-3: #F5FE00;
$accent-4: #7713E9;

// Window

$window-background: $background-200;

$titlebar-background: $background-100;
$titlebar-gap: 16px;

$radius: 8.5px;

$animation-duration: 150ms;
$animation-timing: ease-in-out;